<h1>Stupid Coaching</h1>

  <p>
    <strong><%= params['question'] %></strong>
    - You
  </p>

  <p class="answer">
    <strong><%= @answer %></strong>
    - Your coach
  </p>

<%= link_to 'Ask again!', ask_path %>




